@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");

.App {
  display: flex;
  flex-direction: row;
  gap: 3px;
  width: 100vw;
  height: 80vh;
  min-width: 300px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
